.song-container {
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 20%;
    border-radius: 50%;
    margin-top: 2rem;
    animation: rotation 40s infinite linear;
    box-shadow: 2px 2px 100px #9e989870;
  }

  h1 {
    padding: 3rem 1rem 1rem 1rem;
  }

  h3 {
    padding-bottom: 1rem;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
