.song-container {
  min-height: 60vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img {
    width: 20%;
    border-radius: 50%;
    margin-top: 2rem;
    animation: rotation 40s infinite linear;
    -webkit-box-shadow: 10px 10px 74px -21px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 74px -21px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 74px -21px rgba(0, 0, 0, 0.75);
  }

  h1 {
    padding: 3rem 1rem 1rem 1rem;
  }

  h3 {
    padding-bottom: 1rem;
  }
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

@media screen and (max-width: 786px) {
  .song-container {
    img {
      width: 40%;
    }
  }
}
